#page {
  display: grid;
  width: 40%;
  height: 850px;
  grid-template-areas: "head head"
                       "nav  main"
                       "foot  foot";
  grid-template-rows: 40px 1fr;
  grid-template-columns: 160px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #99CCFF;
}

#page > nav {
  grid-area: nav;
  background-color: #FFFFFF;
}

#page > main {
  grid-area: main;
  background-color: #FFFFFF;
}

#page > footer {
  grid-area: foot;
  background-color: #666666;
}

#dropdown-content {
  display: none;
}

#show {
  display: block;
}

#dropbutton {
  cursor: pointer;
}
